<div class="all-header">
    <div id="j-header" class="w-header m-flex">
        <div class="w-header-img">
            <a href="#" class="w">
                <img src="./../../image/logo.png" alt="" />
            </a>
        </div>
        <div class="w-header-nav">
            <ul class="m-flex w-nav-li" id="j-item">
                <li class="<%= tag=='home' ? 'w-li-active': 'w-li' %>"><a href="./index.html">首页</a></li>
                <li class="<%= tag=='product' ? 'w-li-active': 'w-li' %> product"><a href="product.html">产品服务</a></li>
                <li class="<%= tag=='solve' ? 'w-li-active': 'w-li' %>"><a href="solve.html">解决方案</a>
                    <!-- <div class="w-sub-bx m-flex">
                        <a href="" title="三年定期" class="">股票</a>
                        <a href="" title="三年定期" class="">期货</a>
                    </div> -->
                </li>
                <li class="<%= tag=='case' ? 'w-li-active': 'w-li' %>"><a href="case.html">成功案例</a></li>
                </li>
                <li class="<%= tag=='news' ? 'w-li-active': 'w-li' %>"><a href="news.html">新闻资讯</a></li>
                <li class="<%= tag=='we' ? 'w-li-active': 'w-li' %>">
                    <a href="we.html">关于我们</a>
                    <!-- <div class="w-sub-bx m-flex">
                        <a href="" title="联系方式" class="">联系方式</a>
                        <a href="" title="留言反馈" class="">留言反馈</a>
                        <a href="" title="电子地图" class="">电子地图</a>
                        <a href="" title="人才招聘" class="">人才招聘</a>
                    </div> -->
                </li>
                <li>服务热线：13261886450</li>
            </ul>
        </div>
    </div>
    <div id='j-y-header' class="y-header">
        <div class="y-header-t m-flex">
            <div class="y-header-l m-flex" id="y-header-open">
                <div class="y-btn m-flex">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="y-header-m">
                <img class="y-img" src="./../../image/logo.png" alt="logo">
            </div>
            <div class="y-header-r">
            </div>
            <div class="y-header-modal">
                <div class="y-h-modal-t" id="y-header-close">
                    <span>关闭</span>
                </div>
                <nav class="y-h-modal-b" id="y-h-nav">
                    <dl>
                        <dt><a href="./index.html">首页</a></dt>
                        <dt><a href="product.html">产品服务</a></dt>
                        <dt><a href="solve.html">解决方案</a></dt>
                        <dt><a href="case.html">成功案例</a></dt>
                        <dt><a href="news.html">新闻资讯</a></dt>
                        <dt><a href="we.html">关于我们</a></dt>
                        <!-- <dd>
                            <a href="" title="联系方式" class="">联系方式</a>
                            <a href="" title="留言反馈" class="">留言反馈</a>
                            <a href="" title="电子地图" class="">电子地图</a>
                            <a href="" title="人才招聘" class="">人才招聘</a>
                        </dd> -->
                    </dl>
                </nav>
            </div>
        </div>

    </div>
</div>